@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table style=" font-family: Arial">
        <tr>
            <td><b>Article:</b> @Model.Name <b>Amount:</b> @Model.Amount</td>
        </tr>
    </table>
</div>
